<ion-content class="onboarding-page" [fullscreen]="true">
  <div class="onboarding-wrap">
    <div>
      <p class="onboarding-title">
        Chào mừng đến với <br />
        Ăn Gì Đây?
      </p>
      <p class="onboarding-subtitle">Chúng tôi đã chuẩn bị các cửa hàng gần bạn để phục vụ bạn</p>
    </div>

    <div class="hero-banner-group">
      <img class="banner-1" src="assets/images/onboarding-banner-1.svg" alt="" />
      <img class="banner-2" src="assets/images/onboarding-banner-2.svg" alt="" />
      <img class="banner-3" src="assets/images/onboarding-banner-3.svg" alt="" />
    </div>
  </div>
</ion-content>
