<ion-content class="ion-padding home-page" [fullscreen]="true">
  <div class="home-page-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-label slot="start"
          ><ion-icon slot="start" src="assets/icon/ico-location.svg"></ion-icon>
          97 Lý Chính Thắng, P3, Q3</ion-label
        >

        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" src="assets/icon/ico-bag.svg"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <app-hero></app-hero>
    <app-food-categories></app-food-categories>
    <app-suggest-restaurant></app-suggest-restaurant>
  </div>
</ion-content>
